.main-area {
    display: 'block';
}

.form-control {
    font-size: 20px;
}

.text-area {
    margin-bottom: 20px;
    margin: auto;
    display: block;
    max-width: 100%;
    min-width: 50px;

}

.text-box {
    margin-bottom: 20px;
    margin-top: 100px;
    margin: auto;
    padding: 20;
    display: block;
    max-width: 100%;
    min-width: 50px;
    text-align: left;
    font-size: 22px;
}

@media (max-width: 991px) {
    .text-box {
        width: 60%
    }
}

@media (max-width: 991px) {
    .text-area {
        width: 60%
    }
}

.text-title {
    text-align: center;
}

.button {
    margin-top: 100px;
    min-width: 50px;
}

@media (max-width: 991px) {
    .button {
        margin-top: 0px;
    }
}

.button-area {
    text-align: center;
    margin-bottom: 100px;
    min-width: 50px;
}

@media (max-width: 991px) {
    .button-area {
        margin-bottom: 0px;
    }
}

.alert {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    min-width: 70px;
    min-height: 55px;
    padding: 5px;
    font-size: 15px;
}

.main-area {
    background: white;
    padding: 20px;
    margin-bottom: 40px;
    min-height: 60vh;
}

.flex-box {
    display: flex;
    flex-wrap: wrap-reverse;
}