.table {
    width: 100%;
    margin: auto;
    font-size: 20px;
    text-align: left;
}

.catalogue-wrapper {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
    padding-top: 40px;
    background: #EFF6F6;
}

.close-button {
    font-size: 20px;
    color: red;
    cursor: pointer;

}

.text-date {
    font-weight: lighter;
    font-size: 16px;
}

.text-time {
    font-weight: lighter;
    font-size: 16px;
}

a {
    text-decoration: none !important
}
