.table {
    width: 100%;
    margin: auto;
    font-size: 20px;
    text-align: left;
}

.close-button {
    font-size: 22px;
    color: red;
    cursor: pointer;
}

.text-date {
    font-size: 18px;
}

.text-time {
    font-size: 18px;
}

a {
    text-decoration: none !important
}

td {
    text-align: left !important;
}

h3 {
    padding-left: 20px;
    padding-bottom: 20px;
}