#wordList {
  display:block;
  max-height: 40vh;
  overflow-y: scroll;
  border: 2px solid rgb(76, 116, 224)
}

td {
  text-align: center;
}

th {
  text-align: center !important;
}

.wordlist-wrapper {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  padding-top: 40px;
  background: #EFF6F6;
  min-height: 72vh;
  padding: 30px;
}