.App {
  text-align: center;
}

.header {
  background: #007bff;
  min-height: 50px;
}

.App-header {
  padding: 10px;
  font-family: 'Righteous', cursive;
  font-size: 50px;
}

.tabs {
  font-size: 22px;
  font-family: 'Righteous', cursive;
}